<div class="edit-container">
  <br /><br />
  <header class="header">
    <!-- <app-pop-up></app-pop-up> -->
    <h1 [appFrame]="service.getEditorInitData">
      Hello YunTU LowCode!!{{ service.getEditorInitData.title }}
    </h1>
  </header>

  <!-- <main > -->
  <main>
    <ng-container *ngFor="let area of service.getEditorInitData.child">
      <app-yun-area
        [area]="area"
        [page]="service.getEditorInitData"
      ></app-yun-area>
    </ng-container>
  </main>
  <br /><br /><br />
  <div>{{ service.getEditorInitData | json }}</div>
</div>
