.edit-container {
  height: 100%;
  overflow-y: scroll;

  .header {
    height: 68px;
    background-color: #fff;
    position: relative;
    h1 {
      text-align: center;
      line-height: 68px;
      // background-color: #ccc;
      margin: 0px;
    }
  }
  main {
    margin: 10px;
    // border: 1px solid red;
    position: relative;
  }
}
