<div class="container">
  <header>
    <h2 style="text-align: center">YUNTU - Visualization - Editor</h2>
  </header>
  <main class="container_main">
    <!-- Left sidebar Widget组件选择区 -->
    <aside class="container_left">
      <app-widget></app-widget>
    </aside>

    <!-- Main content Widget组件编辑区 -->
    <article class="container_middle">
      <app-editor></app-editor>
    </article>

    <!-- Right sidebar Widget组件设置区 -->
    <nav class="container_right">
      <app-setting></app-setting>
      <!-- <ng-template #settingContainer></ng-template> -->
    </nav>
  </main>
  <footer>
    <div style="text-align: center">Footer</div>
  </footer>
</div>
